<!DOCTYPE html>
<html ng-app="MiitAuth">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title><%= __('title') %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png" />

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/materialize/bin/materialize.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <script>
        window.paceOptions = {
            ajax: false // disabled ajax and websocket tracking
        };
    </script>

    <!--SCRIPTS-->
    <script src="/vendor/pace/pace.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/materialize/bin/materialize.js"></script>
    <script src="/js/dependencies/miit-angular.js"></script>
    <script src="/js/dependencies/miit-connect.js"></script>
    <script src="/js/controllers/login.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
