body, html {
    background-color: rgb(30, 45, 58);
    height: 100%;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body:before {
    border-top-width: 1500px;
    border-top-style: solid;
    border-top-color: inherit;
    border-right: 1500px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin: 0 0 0 -1442px;
    position: absolute;
    top: 0;
    width: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top-color: rgba(0,0,0,0.15);
}

form {
    margin-top: 30px;
}

.row {
    margin-right: 15px;
    margin-left: 11px;
}

img.login-logo {
    height: 35px;
    margin: 0px 10px;
}

.full-height {
    height: 100%;
}

div.login-container {
    .transition(opacity, 2s, ease);
    opacity: 0;
    height: 100%;

    &.starting {
        opacity: 1;
    }

    .login-info-block {
        height: 100%;
        position: relative;
        bottom: 0;
        h4 {
            color: rgb(255, 247, 204);
            text-transform: uppercase;
            font-size: 2rem;
            margin-top:0;
        }
    }
}

#modal-cgu:not(.ng-hide) {
    display: block;
    top: 50px;
    padding: 28px;
    color: #000;
}

.pull-right {
    float: right;
}

.grey-tile {
    background-color: #e0e0e0;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    p {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 14px;
    }

    i {
        float: left;
        margin-right: 13px;
    }
}

.login-content {
    position: relative;
    /*width:500px;*/
      padding: 20px;
      background: rgba(255, 255, 255, 0.03);
    /*background-color: #fff;*/
    margin-left: auto;
    margin-right: auto;

    .overflow {
        .transition(all, 0.6s, linear);

        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: #1A2631;
        opacity: 0.86;
        z-index: 10;
        width: 100%;
        height: 100%;

        .valign {
            margin: 0 auto;
        }
    }

    .input-field label {
        color:#FFF;
    }

    [type="checkbox"]:not(:checked) + label:before {
        border-color: #FFF
    }

    .row {
        margin-bottom: 10px;
    }

    .checkbox-item a {
        color: #26a69a;
    }
}

.tabs {

    background: transparent;

    li.tab {
        background: transparent;
    }

    li.tab a {
        color: #FFF;

        &:hover {
            color: #b2dfdb;
        }
    }

    .indicator {
        background-color: #26a69a;
    }
}

.inscr-btn,
.connexion-btn {
    text-align: center;
    cursor: pointer;
}

.login-powered {
    position: absolute;
    bottom: 10px;
    left: 10px;

    span {
        font-size: 12px;
        vertical-align: super;

        img.login-logo {
            height: 20px;
            vertical-align: middle;
        }
    }
}

.container.custom {
  width: 92%;
}

@media only screen and (min-width: 1250px) {
    .container.custom {
      width: 70%;
    }
}