/*!
* direction.less v0.1.0
*/

  body {
    height: 100%;
  }
  .page-container {
    height: 100%;
  }
  /** Side bar widget **/
  .footer-widget {
    position: fixed;
  }
  /** Tables **/
  .table th {
    font-size: 14px;
  }
  .table td {
    font-size: 14px;
  }
  .table td.small-cell,
  .table th.small-cell {
    width: 42px;
  }
  /** Controls **/
  .checkbox label:before {
    top: 0.5px;
  }
  /** Tiles **/
  .tiles.margin-reset {
    margin-left: 51px;
  }
  /** Only Demo Purpose **/
  .demo-map {
    min-height: 100%;
  }
  .error-main {
    margin-top: 40%;
  }
  .visible-xlg {
    display: block !important;
  }
  .hidden-xlg {
    display: none !important;
  }

@media (min-width: 1600px) {
  .visible-xlg {
    display: block !important;
  }
  .hidden-xlg {
    display: none !important;
  }
}

  body.bottom-header .page-sidebar {
    margin-top: 0;
    margin-bottom: 58px;
  }
  .menu-non-fixed .page-sidebar {
    margin-top: 0;
    padding-top: 58px;
  }
  .page-sidebar {
    display: inline-block;
    float: left;
    position: fixed;
    width: 250px;
    margin-top: 58px;
    padding-bottom: 105px;
  }
  .menu-non-fixed .footer-widget {
    z-index: 100;
  }
  .page-sidebar .page-sidebar-wrapper {
    display: inline-block;
    float: left;
    height: 100%;
    width: 50px;
  }
  .page-sidebar.fixed {
    position: fixed;
  }
  .page-sidebar ul {
    width: 250px;
  }
  /*** Page content ***/
  .page-content {
    margin-left: 250px;
    min-height: 100%;
  }
  .page-content.no-min-height {
    min-height: auto;
  }
  .full-width-page .page-content {
    margin-left: 0px !important;
  }
  .inner-menu {
    padding-top: 60px;
  }
  /** Const size button for medium devices **/
  .btn-cons-md {
    min-width: 120px;
  }

